<div class="stars">
<nav class="nav">
  <div class="container flex">
    <h1><b>Solar</b>Academy</h1>
    <div class="flex-grow"></div>
    <a class="sign-up-link" href="#">Sign Up</a>
  </div>
</nav>

<div class="content">
  <div class="container">
    <h1>Become a Solar System Developer</h1>
    <p class="measure">Are you a bright young star with an uncertain future? At Star Academy, you will learn to illuminate your career! Build your own STARtup solar system or build the network necessary to join the star cluster of your dreams. </p>
    <br><br>
    <a href="#more-info" class="learn-more-button">Learn more</a>
  </div>
</div>
<div class="about-the-program" id="more-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 m-b">
        <div>
          <h3>Build your own solar system (make a STARtup)</h3>
          <p>If you’re feeling adventurous, building your own solar system is for you! Using the help of our senior solar system engineers, you’ll be able to get the help you need to build a great solar system.</p>
        </div>
        <br>
        <br>
        <div>
          <h3>Join a star cluster</h3>
          <p>Joining a star cluster gives you direct access into working for a great cluster straight out of school. You don’t need to worry about star dust funding or anything!</p>
        </div>
        <br>
        <br>
        <div>
          <h3>Avoid going supernova (don’t be the “black hole” in your workplace)</h3>
          <p>No one likes a bad co-star. You’ll learn from the masters on how to never go supernova and never absorb the masses of your co-stars. Black holes suck the fun out of everything!</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="card-more-info">
          <h3>More info!</h3>
          Learn to shoot photons at the speed of light!
          <br>
          Explore the space time continuum!          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <br>
    <div class="row">
      <div class="col-sm-4 col-xs-12 m-b">
        <%= image_tag("the-sun.jpg", :class => 'author-image') %>
        <p>
          “As a an alumni of Solar Academy, I can say nothing but good about the quality of the program.  From pulling in talented planets like Jupiter and Uranus, to starting life on Earth, the Solar System program taught me the skills I need to shine!”
        </p>
        <p class="author">- The Sun</p>
      </div>
      <div class="col-sm-4 col-xs-12 m-b">
        <%= image_tag("anon-star.jpg", :class => 'author-image') %>
        <p>
          “Star Academy taught me to be the influential gas giant I always have wanted to be. In the past 4 days I’ve had nearly 300 humans wish upon me!”
        </p>
        <p class="author">- AnonStar42</p>
      </div>
      <div class="col-sm-4 col-xs-12 m-b">
        <%= image_tag("adam-west.jpg", :class => 'author-image') %>
        <p>
          “My god I’m a tomato!”
        </p>
        <p class="author">- adam west</p>
      </div>
    </div>
  </div>
</div>
</div>