// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: #f9f9fa;
$black: #3f3e41;
$dark-gray: #6c6b6f;
$accent: #d9cbf9;
$snow: #eeecf1;

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: karma, serif;
  font-weight: 300;
}

html,body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 105% hind, sans-serif;
  color: $black;
}

p {
  line-height: 1.6rem;
}

#particle {
  background-color: black;

}
.measure {
  width: 100%;
  max-width: 30rem;
}

.m-b {
  margin-bottom: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: auto;
}

.nav {
  padding: 2rem 0;
  width: 100%;
  color: $white;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  h1 {
    font-weight: 400;
    font-family: hind, sans-serif;
  }
  .sign-up-link {
    background-color: rgba($accent, .5);
    text-decoration: none;
    padding: .5rem 1rem;
    color: $white;
    border-radius: 4px;
    font-weight: 700;
  }
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.content {
  padding: 12rem 0 10rem 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ), url(./background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: $white;

  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .learn-more-button {
    background-color: darken($accent, 10%);
    color: $white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: 700;
  }
}

.about-the-program {
  padding: 5rem 0;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    color: $dark-gray;
  }

  .card-more-info {
    border: solid 1px $snow;
    border-radius: 4px;
    padding: 1.5rem;
  }
}

.testimonials {
  border-top: solid 1px $snow;
  padding: 5rem 0;

  .author-image {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
  }

  .author {
    color: $dark-gray;
    font-size: .875rem;
    font-weight: 700;
    margin-top: .5rem;
  }
}

.stars {
 // z-index: 0; position: absolute;
  //background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png );
  //background-repeat: repeat-x,repeat-x repeat-y;
  transform:translate3D(0em, 0em, 0);
  animation: stars 21s ease;
  transform-style: preserve-3d;
}