<!DOCTYPE html>
<html>
  <head>
    <title>SolarAcademy</title>
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700|Karma:300" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
    <canvas id="particle"></canvas>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
